{% extends 'spa.html' %}
{% block title %}Advanced Setup{% endblock %}
{% block page %}advanced{% endblock %}
{% block data %}
{% set skystats_values = {} %}
{% for key in ["skystats_aircraft_json", "skystats_db_host", "skystats_db_port", "skystats_db_user", "skystats_db_password", "skystats_db_name",
               "skystats_radius", "skystats_above_radius", "skystats_domestic_country_iso"] %}
{% if skystats_values.update({key: env_value_by_tag(key)}) %}{% endif %}
{% endfor %}
{% set healthcheck = {} %}
{% for key in ["healthcheck_url", "healthcheck_noplane_hours_1090", "healthcheck_noplane_hours_978", "healthcheck_noacars_hours"] %}
{% if healthcheck.update({key: env_value_by_tag(key)}) %}{% endif %}
{% endfor %}
{% set enabled = {} %}
{% for key in ["acarsdec", "acarsdec2", "dumpvdl2", "dumphfdl", "hfdlobserver", "acars2pos", "acarshub", "shipfeeder", "show_ships_on_map", "sonde"] %}
{% if enabled.update({key: is_enabled(key)}) %}{% endif %}
{% endfor %}
{% set values = {} %}
{% for key in ["acars_feed_id", "acars_frequencies", "acarsserial", "acars_2_feed_id", "acars_2_frequencies", "acars_2serial",
               "vdl2_feed_id", "vdl2_frequencies", "vdl2serial", "hfdl_feed_id", "hfdl_samplerate", "hfdl_frequencies", "hfdlserial",
               "hfdlobserver_feed_id", "hfdlobserver_ip", "acarshub_data_path", "ais_station_name", "ais_sx_extra_options", "aisserial",
               "sonde_callsign", "sonde_min_freq", "sonde_max_freq", "sonde_share_position", "sonde_web_control", "sonde_web_password", "sondeserial"] %}
{% if values.update({key: env_value_by_tag(key)}) %}{% endif %}
{% endfor %}
{{ {
  "cssTheme": env_value_by_tag("css_theme"),
  "tempSensor": env_value_by_tag('temp_sensor'),
  "freedomUnits": not not env_value_by_tag("freedom_units"),
  "boardName": env_value_by_tag('board_name'),
  "initials": list_value_by_tag('initials', 0),
  "closestAirport": list_value_by_tag('closest_airport', 0),
  "skystats": is_enabled('skystats'),
  "skystatsValues": skystats_values,
  "healthcheck": healthcheck,
  "rebootOnMissingSdr": is_enabled('reboot_on_missing_sdr'),
  "romsWait": env_value_by_tag('roms_wait'),
  "romsMax": env_value_by_tag('roms_max'),
  "enabled": enabled,
  "values": values,
  "bestAcarsFrequencies": best_acars_frequencies|default(""),
  "bestVdl2Frequencies": best_vdl2_frequencies|default(""),
}|tojson }}
{% endblock %}
