{% extends 'spa.html' %}
{% block title %}Data Sharing Setup{% if site != "" %} for feeder {{ site }}{% endif %}{% endblock %}
{% block page %}aggregators{% endblock %}
{% block data %}
{% set ns = namespace(netconfigs=[]) %}
{% for conf in (netconfigs.values() | sort(attribute='ordinal')) %}
{% set ns.netconfigs = ns.netconfigs + [{
  "identifier": conf.identifier,
  "name": conf.name,
  "website": conf.website,
  "policy": conf.policy,
  "enabled": uf_enabled(conf.identifier, m) == "checked",
  "uuid": list_value_by_tags(["ultrafeeder", conf.identifier, "uuid"], m),
}] %}
{% endfor %}
{% set acars = {} %}
{% for key in ["feed_acars_airframes", "feed_acars_acarsdrama", "feed_acars_adsblol", "feed_acars_avdelphi", "feed_acars_flightdeck"] %}
{% if acars.update({key: nonadsb_enabled(key, m) == "checked"}) %}{% endif %}
{% endfor %}
{% set ais = {} %}
{% for key in ["ais_feed_airframes", "ais_feed_aiscatcher", "ais_feed_aisfriends", "ais_feed_aishub", "ais_feed_ais_hpradar", "ais_feed_sdrmap",
               "ais_feed_marinetraffic", "ais_feed_myshiptracking", "ais_feed_boatbeacon", "ais_feed_shipfinder", "ais_feed_shippingexplorer",
               "ais_feed_shipxplorer", "ais_feed_vesselfinder"] %}
{% if ais.update({key: nonadsb_enabled(key, m) == "checked"}) %}{% endif %}
{% endfor %}
{% set ais_values = {} %}
{% for key in ["aiscatcher_feeder_key", "aisfriends_udp_port", "aishub_udp_port", "ais_marinetraffic_udp_port", "ais_myshiptracking_udp_port",
               "ais_boatbeacon_udp_port", "ais_shippingexplorer_udp_port", "ais_shipxplorer_udp_port", "ais_vesselfinder_udp_port"] %}
{% if ais_values.update({key: list_value_by_tags(key, m)}) %}{% endif %}
{% endfor %}
{{ {
  "m": m,
  "site": site,
  "baseConfig": is_enabled('base_config'),
  "aggregatorChoice": env_value_by_tag("aggregator_choice"),
  "mlatEnable": list_is_enabled("mlat_enable", m),
  "mlatPrivacy": list_is_enabled("mlat_privacy", m),
  "lat": list_value_by_tag('lat', m),
  "lon": list_value_by_tag('lon', m),
  "uat978": list_is_enabled('uat978', m),
  "siteName": list_value_by_tags(["site_name"], m),
  "mlatNameOverride": list_value_by_tags(["mlat_name_override"], m),
  "netconfigs": ns.netconfigs,
  "flightradar": {"enabled": others_enabled("flightradar", m) == "checked", "key": list_value_by_tags(["flightradar", "key"], m), "uatKey": list_value_by_tags(["flightradar_uat", "key"], m)},
  "flightaware": {"enabled": others_enabled("flightaware", m) == "checked", "key": list_value_by_tags(["flightaware", "key"], m)},
  "radarbox": {"enabled": others_enabled("radarbox", m) == "checked", "key": list_value_by_tags(["radarbox", "key"], m)},
  "planefinder": {"enabled": others_enabled("planefinder", m) == "checked", "key": list_value_by_tags(["planefinder", "key"], m)},
  "adsbhub": {"enabled": others_enabled("adsbhub", m) == "checked", "key": list_value_by_tags(["adsbhub", "key"], m)},
  "opensky": {"enabled": others_enabled("opensky", m) == "checked", "key": list_value_by_tags(["opensky", "key"], m), "user": list_value_by_tags(["opensky", "user"], m)},
  "planewatch": {"enabled": others_enabled("planewatch", m) == "checked", "key": list_value_by_tags(["planewatch", "key"], m)},
  "uk1090": {"enabled": others_enabled("1090uk", m) == "checked", "key": list_value_by_tags(["1090uk", "key"], m)},
  "sdrmap": {"enabled": others_enabled("sdrmap", m) == "checked", "key": list_value_by_tags(["sdrmap", "key"], m), "user": list_value_by_tags(["sdrmap", "user"], m), "user0": list_value_by_tags(["sdrmap", "user"], 0)},
  "radarvirtuel": others_enabled("radarvirtuel", m) == "checked",
  "acarsSection": is_enabled('acarsdec') or is_enabled('acarsdec2') or is_enabled('dumpvdl2'),
  "acars": acars,
  "aisSection": is_enabled('shipfeeder'),
  "ais": ais,
  "aisValues": ais_values,
}|tojson }}
{% endblock %}
