{% extends 'spa.html' %}
{% block title %}Expert Setup{% endblock %}
{% block page %}expert{% endblock %}
{% block data %}
{{ {
  "stage2": is_enabled('stage2'),
  "ultrafeederExtraArgs": env_value_by_tag('ultrafeeder_extra_args'),
  "ultrafeederExtraArgsMicrosites": env_value_by_tag('ultrafeeder_extra_args_microsites'),
  "ultrafeederExtraEnv": env_value_by_tag('ultrafeeder_extra_env'),
  "tar1090QueryParams": env_value_by_tag('tar1090_query_params'),
  "hasGpsd": is_enabled('has_gpsd'),
  "useGpsd": is_enabled('use_gpsd'),
  "configLink": env_value_by_tag('tar1090_image_config_link') != '',
  "tar1090port": env_value_by_tag('tar1090port'),
  "webport": env_value_by_tag('webport'),
  "dockerConcurrent": is_enabled('docker_concurrent'),
  "dockerIpv6": is_enabled('docker_ipv6'),
  "sdrplayIgnoreSerial": is_enabled('sdrplay_ignore_serial'),
  "telegrafAdsb": is_enabled('telegraf_adsb'),
}|tojson }}
{% endblock %}
