{% extends 'spa.html' %}
{% block title %}{% if env_value_by_tag('aggregator_choice') != 'nonadsb' %}ADS-B{% else %}SDR{% endif %} Feeder Homepage for {{ list_value_by_tag("site_name", 0) }}{% endblock %}
{% block page %}index{% endblock %}
{% block data %}
{# which sites are we handling here - just the base, or the list of micro feeder proxies? #}
{% set num_micro = env_value_by_tag('num_micro_sites')|int %}
{% set ns = namespace(site_indices=[], sites=[], aggs=[]) %}
{% if is_enabled('stage2') %}
{% set ns.site_indices = range(1, num_micro + 1)|list %}
{% set all_indices = range(0, num_micro + 1)|list %}
{% else %}
{% set ns.site_indices = [0] %}
{% set all_indices = [0] %}
{% endif %}
{% for idx in all_indices %}
{% set ns.sites = ns.sites + [{
  "idx": idx,
  "name": list_value_by_tag('site_name', idx),
  "lat": list_value_by_tag('lat', idx),
  "lon": list_value_by_tag('lon', idx),
  "mfIp": list_value_by_tag('mf_ip', idx),
  "uat978": list_is_enabled('uat978', idx),
  "adsblol": list_is_enabled('adsblol', idx),
  "adsbx": list_is_enabled('adsbx', idx),
  "alive": list_is_enabled('alive', idx),
  "flightradar": list_is_enabled('flightradar', idx),
  "flightaware": list_is_enabled('flightaware', idx),
  "planefinder": list_is_enabled('planefinder', idx),
  "mlatPrivacy": list_is_enabled('mlat_privacy', idx),
}] %}
{% endfor %}
{% for agg, name, map, status, table in aggregators %}
{% set en = namespace(list=[]) %}
{% for idx in ns.site_indices %}{% set en.list = en.list + [list_is_enabled(agg, idx)] %}{% endfor %}
{% set ns.aggs = ns.aggs + [{"agg": agg, "name": name, "map": map, "status": status, "table": table, "enabled": en.list}] %}
{% endfor %}
{{ {
  "dnsState": not not env_value_by_tag('dns_state'),
  "ipv6Broken": not not ipv6_broken,
  "composeUpFailed": not not compose_up_failed,
  "underVoltage": not not env_value_by_tag('under_voltage'),
  "pi5UsbCurrentLimited": not not pi5_usb_current_limited,
  "healthcheckFailReason": env_value_by_tag('healthcheck_fail_reason') or "",
  "lowDisk": not not env_value_by_tag('low_disk'),
  "localAddress": local_address,
  "tailscaleAddress": tailscale_address,
  "zerotierAddress": zerotier_address,
  "adsb": not not adsb,
  "stage2Suggestion": not not stage2_suggestion,
  "channel": channel,
  "acarsAggregatorsChosen": is_enabled('acars_aggregators_chosen'),
  "aisAggregatorsChosen": is_enabled('ais_aggregators_chosen'),
  "siteIndices": ns.site_indices,
  "sites": ns.sites,
  "aggregators": ns.aggs,
  "aggTables": agg_tables,
  "matrix": matrix,
}|tojson }}
{% endblock %}
