{% extends 'spa.html' %}
{% block title %}Support Info{% endblock %}
{% block page %}info{% endblock %}
{% block data %}
{{ {
  "current": current,
  "board": board,
  "base": base,
  "kernel": kernel,
  "underVoltage": not not env_value_by_tag('under_voltage'),
  "journal": journal,
  "dnsState": not not env_value_by_tag('dns_state'),
  "ipv6": ipv6,
  "netdog": netdog,
  "containers": containers,
  "sdrs": sdrs,
  "ufargs": ufargs,
  "envvars": envvars,
  "memory": memory,
  "storage": storage,
  "top": top,
}|tojson }}
{% endblock %}
