{% extends 'spa.html' %}
{% block title %}SDR Setup{% endblock %}
{% block page %}sdr_setup{% endblock %}
{% block data %}
{{ {
  "aggregatorChoice": env_value_by_tag('aggregator_choice'),
  "stage2": is_enabled('stage2'),
  "acarsdec": is_enabled('acarsdec'),
  "acarsdec2": is_enabled('acarsdec2'),
  "dumpvdl2": is_enabled('dumpvdl2'),
  "dumphfdl": is_enabled('dumphfdl'),
  "shipfeeder": is_enabled('shipfeeder'),
  "sonde": is_enabled('sonde'),
  "serial1090": env_value_by_tag('1090serial'),
  "airspy": is_enabled('airspy'),
  "remoteSdr": env_value_by_tag('remote_sdr'),
}|tojson }}
{% endblock %}
