{% extends 'spa.html' %}
{% block title %}Basic Setup{% endblock %}
{% block page %}setup{% endblock %}
{% block data %}
{{ {
  "siteName": list_value_by_tag('site_name', 0),
  "lat": list_value_by_tag('lat', 0),
  "lon": list_value_by_tag('lon', 0),
  "alt": list_value_by_tag('alt', 0),
  "tz": list_value_by_tag('tz', 0),
  "dnsState": not not env_value_by_tag('dns_state'),
  "mem": mem|default(0),
  "message": message|default(""),
  "aggregatorChoice": env_value_by_tag("aggregator_choice"),
  "isAdsbFeeder": not not env_value_by_tag("is_adsb_feeder"),
  "isAcarsFeeder": is_enabled('is_acars_feeder'),
  "acarsdec": is_enabled('acarsdec'),
  "acarsdec2": is_enabled('acarsdec2'),
  "dumpvdl2": is_enabled('dumpvdl2'),
  "acarsFeedId": env_value_by_tag('acars_feed_id'),
  "acars2FeedId": env_value_by_tag('acars_2_feed_id'),
  "vdl2FeedId": env_value_by_tag('vdl2_feed_id'),
  "isHfdlFeeder": is_enabled('is_hfdl_feeder'),
  "dumphfdl": is_enabled('dumphfdl'),
  "hfdlobserver": is_enabled('hfdlobserver'),
  "hfdlFeedId": env_value_by_tag('hfdl_feed_id'),
  "hfdlobserverFeedId": env_value_by_tag('hfdlobserver_feed_id'),
  "isAisFeeder": is_enabled('is_ais_feeder'),
  "aisStationName": env_value_by_tag('ais_station_name'),
  "isSondeFeeder": is_enabled('is_sonde_feeder'),
  "initials": list_value_by_tag('initials', 0),
}|tojson }}
{% endblock %}
