{% extends 'spa.html' %}
{% block title %}Setup stage 2 feeder {{ list_value_by_tag('site_name', 0) }}{% endblock %}
{% block page %}stage2{% endblock %}
{% block data %}
{% set ns = namespace(sites=[]) %}
{% for site in env_value_by_tag('site_name') %}
{% if loop.index0 != 0 %}{# skip the entry for the host #}
{% set ns.sites = ns.sites + [{
  "idx": loop.index0,
  "name": site,
  "mfIp": list_value_by_tag('mf_ip', loop.index0),
  "lat": list_value_by_tag('lat', loop.index0),
  "lon": list_value_by_tag('lon', loop.index0),
  "alt": list_value_by_tag('alt', loop.index0),
  "mfVersion": list_value_by_tag('mf_version', loop.index0),
  "uat978": list_is_enabled('uat978', loop.index0),
  "brofm": list_is_enabled('mf_brofm', loop.index0),
}] %}
{% endif %}
{% endfor %}
{{ {
  "siteName": list_value_by_tag('site_name', 0),
  "lat": list_value_by_tag('lat', 0),
  "lon": list_value_by_tag('lon', 0),
  "tz": list_value_by_tag('tz', 0),
  "dnsState": not not env_value_by_tag('dns_state'),
  "numMicroSites": env_value_by_tag('num_micro_sites')|int,
  "editIndex": edit_index|default(-1),
  "message": message|default(""),
  "sites": ns.sites,
}|tojson }}
{% endblock %}
