{% extends 'spa.html' %}
{% block title %}System Management{% endblock %}
{% block page %}systemmgmt{% endblock %}
{% block data %}
{# When running as an app (not the full image), app.py removes everything between the two
   markers below from this file - which leaves full.image false and hides the image-only options. #}
{% set full = namespace(image=false) %}
{# FULL_IMAGE_ONLY_START #}{% set full.image = true %}{# FULL_IMAGE_ONLY_END #}
{{ {
  "secureImage": is_enabled('secure_image'),
  "fullImage": full.image,
  "virtualized": env_value_by_tag('board_name').startswith("Virtualized"),
  "rpw": rpw,
  "webAuthEnabled": not not env_value_by_tag('web_auth_enabled'),
  "authPwd": auth_pwd,
  "hotspotEnabled": not not hotspot_enabled,
  "persistentJournal": not not persistent_journal,
  "nightlyBaseUpdate": is_enabled("nightly_base_update"),
  "nightlyFeederUpdate": is_enabled("nightly_feeder_update"),
  "currentBranch": current_branch,
  "channel": channel,
  "containers": containers,
  "zerotierRunning": not not zerotier_running,
  "zerotierid": env_value_by_tag('zerotierid'),
  "tailscaleName": env_value_by_tag("tailscale_name"),
  "tailscaleLl": env_value_by_tag("tailscale_ll"),
  "tailscaleExtras": env_value_by_tag('tailscale_extras'),
  "tailscaleRunning": not not tailscale_running,
  "netbirdRegistered": not not netbird_registered,
  "netbirdManagementUrl": env_value_by_tag('netbird_management_url'),
  "netbirdFqdn": netbird_fqdn,
  "netbirdIp": netbird_ip,
  "netbirdRunning": not not netbird_running,
  "wifi": wifi,
}|tojson }}
{% endblock %}
